/*FLEX-SHRINK EXAMPLE*/

*{
	font-family: verdana;
	margin: 0;
}

body{
	background: #eee;
}

.wrapper{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
.flex-container{
	display:flex;
	background-color: darkcyan;
}

.box{
	height:100px;
	width:330px;

}
.one{
	background: red;
	flex-shrink:1;
}
.two{
	background: coral;
	flex-shrink:2;
}
.three{
	background: lightgreen;
	flex-shrink: 3;
}
